[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "==11.2.0"
molecule = "==25.2.0"
molecule-plugins = {extras = ["docker"], version = "==23.7.0"}
docker = "==7.1.0"
ansible-lint = "==25.1.2"
yamllint = "==1.35.1"

[dev-packages]

[requires]
python_version = "3.12"
