{{ airflow_logs_folder }}/gunicorn-*.log {
    daily
    missingok
    rotate 7
    size 500M
    compress
    notifempty
    create 644 {{ airflow_user }} {{ airflow_group }}
    sharedscripts
    postrotate
        [ -f {{ airflow_pidfile_folder }}/webserver.pid ] && kill -USR1 `cat {{ airflow_pidfile_folder }}/webserver.pid`
    endscript
}
