---
# Example keys
airflow_fernet_key: xKy13nPFfDflJ0DYGVTwf_DEmbItfURHlEDxrt-bBQw=
airflow_webserver_secret_key: "ihadsf908auw0340684"

airflow_admin_users:
  - name: default
    username: admin
    password: admin
    role: Admin
    firstname: Admin
    lastname: Admin
    email: admin@email.com

airflow_required_python_packages:
  - { name: SQLAlchemy, version: 1.3.23 }
  - { name: psycopg2 }